.card__index {
   
   
    margin-bottom: 2rem;
}
.card__group {
    margin-left: 5%r;
}
card__1index{
    transition: all 0.7s;
   
}
.card__1index:hover {
    font-weight: bolder;
    transform: scale(1.05,1.05);
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.7);
}
card___2index {
    transition: all 0.7s;
   
}
.card__2index:hover {
    font-weight: bolder;
    transform: scale(1.05,1.05);
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.7);
}
card___3index {
    transition: all 0.7s;
 
}
.card__3index:hover {
    font-weight: bolder;
    transform: scale(1.05,1.05);
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.7);
}