$color-amarillo: rgb(251, 255, 0);




$background-color: (
    header__nav: rgba(230, 255, 4, 0.836),
    footer: rgba(128, 128, 128, 0.829),
    main: linear-gradient(to left, rgb(207, 40, 40), rgb(37, 37, 214) ),
    shadow__video: rgba(0, 0, 0, 0.4),
    lorem__pink: rgba(250, 235, 215, 0.671),
    lorem__orange: rgb(235, 164, 78),
    lorem__grey: rgba(49, 49, 49, 0.808),
    
)